.sidebar {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/cool-bg.png");
  background-size: cover;
  background-position: bottom;
  color: #000000;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.search {
  background: #fafafa;
  height: 50px;
  width: 350px;
  margin-top: 50px;
  border-radius: 10px;
  border: 0px;
  font-size: 16px;
  text-align: center;
  font-family: "Poppins";
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.search:focus {
  outline: none;
}
.details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 0 350px 0;
}

.location {
  font-size: 48px;
}

.date {
  font-size: 24px;
}

.temp {
  font-size: 72px;
}

.weather-type {
  font-size: 20px;
}

.deg-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.deg-selector-cel {
  background: #5a9bfe;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
